{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/detail_confess.css' %}">
<section>
    <div class="card">
        <div class="heading">
            <label hidden="true">{{ confession.pk }}</label>
            <strong>{{confession.subject}}</strong>
            <div id="time">@{{ confession.user }}<span> | {{ confession.pub_date|date:"F j, Y H:i" }}</span></div>
        </div>
        <p>{{ confession.content }}</p>
        {{confession.comments}}
        <form method="post" action="{% url 'confess_detail' confession.id %}" class="foot">
            {% csrf_token %}
            <div class="likes">
                <button id="like_btn" type="submit" name="action" value="like"><img width="20" height="20" src="https://img.icons8.com/ios/50/like--v1.png" alt="like"/></button>
                <label>{{ confession.likes }}</label>
            </div>
            <div class="likes">
                <button id="like_btn" type="submit" name="action" value="dislike"><img width="20" height="20" src="https://img.icons8.com/ios/50/--broken-heart--v1.png" alt="unlike"/></button>
                <label>{{ confession.dislikes }}</label>
            </div>
        </form>
    </div>
</section>

{% endblock %}