.bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{

    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 3;
    position:relative;
    border-radius: 10px;
}
form{
    color: white;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
form input{
    width: 100%;
    background-color: rgba(255,255,255,0.6);
}

form textarea{
    width: 100%;
    background-color: rgba(255,255,255,0.6);
}
form button{
    color: white;
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.3);
}
form button:hover{
    background-color: rgba(0,0,0,0.1)
}